*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex; 
    height:500px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* justify-content: end; main axes */
    /* align-items: flex-end;  cross axes */
}
.item{
    background: rgb(46, 187, 208);
    border: 1px solid rgb(201, 37, 37);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item:nth-of-type(1){
    flex-shrink: 3;
    background-color: bisque;
}